dist
node_modules
app/images/sprite.svg
.idea/
bower_components/
app/res/config.json
i18n/
package-lock.json
res/linux-prebuilt/Bitbloq
res/windows32-prebuilt/Bitbloq.exe
res/mac-prebuilt/Bitbloq.app
.local/

# AppImage extract artifacts
squashfs-root/
